<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Hello there <%= @user.name %>,</h1>
    <p>Thank you for helping <%= @receiver.name %> with "<%= @post.title %>"! We have sent them 
        an email to let them know.</p>
    <p>Have a nice day and keep on helping!</p>
    <p>Karma Team</p>
  </body>
</html>