<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Hello there <%= @receiver.name %>,</h1>
    <p><%= @user.name %> saw your post "<%= @post.title %>" and is willing to help you! 
    Get in touch with them at <%= @user.email %>.</p>
    <p>Good luck and don't forget to help others!</p>
    <p>Karma Team</p>
  </body>
</html>
