<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Hello there <%= @user.name %>,</h1>
    <p> is willing to help you! Get in touch with them at 
    </p>
    <p>Good luck and don't forget to help others!</p>
  </body>
</html>
