<!DOCTYPE html>

<html>


    <body>
        <div class="title">
            <h3>Create your post</h3>
        </div>
        
        <div class= "form">
        <form>
    
            <ul>
            <div>
                <li>Subject:</li> <input type="text" name="Subject" value=""><br>
            </div>
            <div>
                <li>Message:</li> <input type="text" name="Message" value=""><br>
            </div>
            </ul>
            
            <div>
            <button type="button">Submit</button>
            </div>
        </form>
        </div>
        
    </body>

</html>

