<!DOCTYPE html>

<html lang="en">

<head>
    <title>Karma Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>

    <div class= "jumbotron img-container">
        <div class="container-fluid">
            <h1>Karma</h1>
            <p>Neighborly help meets social media.</p>
        </div>
    </div>


    <div class= "About-Karma">
        <div class = "container">
            <div class= "row">
                <div class= "col-md-4">
                    <div class= "Info1">
                        <img class="Info1-img" src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/favorite-empty-128.png"
                        width="100" height="100">
                        <h3>Help Others.</h3>
                        <p>Are you a Math genius? Do you happen to fix computers in your spare time? 
                        Show off your skills on your profile and offer your help by posting on the feed. </p>
                    </div>
                </div>  
                <div class= "col-md-4">
                    <div class= "Info2">
                        <img class="Info2-img" src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/group-128.png" 
                        width="100" height="100">
                        <h3>Let Others Help You.</h3>
                        <p>Don't be afraid to ask for help! Create a post asking for a specific task
                        you need help with and let another skilled user help you.</p>
                    </div>
                </div>
                <div class= "col-md-4">
                    <div class= "Info3">
                        <img class="Info3-img" src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/spinner-128.png"
                        width="100" height="100">
                        <h3>The Only Price Is Your Time</h3>
                        <p>There is no fee! The only thing you have to do is spend as much time helping
                        others as you would want someone else to spend helping you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
