<!DOCTYPE html>

<html>


    <body>
        <div class="title">
            <h3>Join the fun!</h3>
        </div>
        
        <div class= "form">
        <form>
    
            <ul>
            <div>
                <li>First name:</li> <input type="text" name="FirstName" value="Jane"><br>
            </div>
            <div>
                <li>Last name:</li> <input type="text" name="LastName" value="Doe"><br>
            </div>
            <div>
                <li>Email:</li> <input type="text" name="Email" value="janedoe@email.com"><br>
            </div>
            <div>
                <li>Password:</li> <input type="text" name="Password" value="janedoe@email.com"><br>
            </div>
            <div>
                <li>Confirm Password:</li> <input type="text" name="ConfirmPassword" value="@@"><br>
            </div>
            </ul>
            <div>
            <input class="button" type="submit" value="Submit">
            </div>
        </form>
        </div>
        
    </body>

</html>

