// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.nav li{
    display: inline;
}

.nav a{
    color: #FF6600;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px 10px;
    text-decoration: none;
}

.nav a:hover{
    color: #FF6600;
}

.nav ul{
    display: inline;
}

body {
}

.jumbotron{
    height: 500px;

}

.img-container h1 {
    padding: 10px;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #000000;
    //margin-top: 180px;
}


.img-container {
    width: 100%;
    background-image: url("https://pixabay.com/static/uploads/photo/2015/03/26/10/32/houses-691520_960_720.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.img-container p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
}

.About-Karma h3{
    font-weight: Bold;
    color: #000000
}

.col-md-4 {
    border: none;
    padding: 30px;
}



.About-Karma{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url("http://s30.postimg.org/75rvpf9x9/up_arrow.gif");
}

.pretty th .desc {
  //background-image: url(/images/down_arrow.gif);
}