// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.nav li{
    display: inline;
}

.nav a{
    color: #FF6600;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px 10px;
    text-decoration: none;
}

.nav a:hover{
    color: #FF6600;
}

.nav ul{
    display: inline;
}

body {
}

.jumbotron h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #000000;
    
}


.jumbotron {
    height: 400px;
    background-image: url(image-path('Give.jpg'));
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron .container{
    position: relative;
    top: 100px;
    text-align: center;
}

.About-Karma h3{
    font-weight: Bold;
    color: #000000
}

.col-md-4 {
    border: none;
    padding: 30px;
}

.About-Karma{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
