// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav li{
    display: inline;
}

.nav a{
    color: #5a5a5a;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav a:hover{
    color: #FF6600;
}

.nav ul{
    display: inline;
}

.jumbotron h1 {
    font-family: 'Shift', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.jumbotron p {
    font-family:'Shift', sans-serif;
    font-size: 20px;
    
    
}

.jumbotron {
    background-color: #cccccc;
    height: 500px;
}

.jumbotron .container{
    position: relative;
    top: 100px;
    text-align: center;
}

.About-Karma h3{
    font-weight: Bold;
}

.About-Karma .container{
    font-family: 'Shift', sans-serif;
    text-align: center;
    background-color: #ffcc99;
    background-size: cover;
}
